/.quarto/
/_site/
# Note: _freeze/ should be committed when using the Netlify Build Plugin
.DS_Store

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv
/renv/library/
/renv/local/
/renv/cellar/
/renv/lock/
/renv/python/
/renv/staging/

**/*.quarto_ipynb
