/.quarto/
/_site/
# Note: _freeze/ should be committed when using the Netlify Build Plugin
.DS_Store

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv
/renv/library/
/renv/local/
/renv/cellar/
/renv/lock/
/renv/python/
/renv/staging/

**/*.quarto_ipynb

# LaTeX build artifacts
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.bbl
*.blg

# R default graphics device output
Rplots.pdf
